.attachment {
  padding-top: 165px;
  padding-bottom: 100px;
}
.attachment .wrap {
  background-color: #FFF7CA;
  border-radius: 20px;
}
.attachment h2 {
  padding: 40px 10px 0;
  text-align: center;
  color: #FF823B;
}
.attachment p {
  padding: 30px 40px;
}

@media screen and (max-width: 600px) {
  .attachment {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .attachment h2 {
    font-size: 34px;
  }

  .attachment p {
    padding: 16px 10px;
  }
}