.hero {
  min-height: 100vh;
  padding-top: 165px;
  padding-bottom: 100px;
}
.hero .wrap {
  background-image: url("~@/assets/img/bg.png");
  background-repeat: no-repeat;
  background-color: #E9FBF9;
  border-radius: 30px;
  background-position: right -3px top;
  display: flex;
  justify-content: space-between;
}
.hero .wrap_content {
  width: 50%;
  padding-top: 70px;
  margin-left: 80px;
  position: relative;
}
.hero .wrap_content h2 {
  margin: 30px 0 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 80px;
  color: #021D1A;
}
.hero .wrap_content p {
  width: calc((100% * 470) / 630);
}
.hero .wrap_block {
  width: 314px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(104px, 104px));
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  opacity: 0.9;
  box-shadow: 0px 3px 84px rgba(142, 199, 192, 0.3);
  border-radius: 20px;
  position: absolute;
  bottom: -80px;
  right: -190px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.hero .wrap_block li {
  height: 104px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .wrap_block .wrap1 {
  background-color: #FFF6D4;
}
.hero .wrap_block .wrap2 {
  background-color: #DEFFE5;
}
.hero .wrap_block .wrap3 {
  background-color: #DBEEFF;
}
.hero .wrap_block .wrap4 {
  background-color: #FFEFE5;
}
.hero .wrap_block .icon {
  width: 74px;
  height: 74px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .wrap_block .icon_1 {
  background-color: #FFC90C;
}
.hero .wrap_block .icon_2 {
  background-color: #198B39;
}
.hero .wrap_block .icon_3 {
  background-color: #0085FF;
}
.hero .wrap_block .icon_4 {
  background-color: #FF7527;
}
.hero .buttons_hero {
  width: calc((100% * 450) / 630);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.hero .buttons_hero .btn_hero {
  margin: 50px auto 0;
}
.hero .buttons_hero .video {
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(1);
}
.hero .buttons_hero .video:hover {
  transform: scale(1.2);
}
.hero .buttons_hero .video:hover .text_video {
  border-bottom: 2px solid #FF823B;
}
.hero .buttons_hero .video .icon_video {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .buttons_hero .video .icon_video .wrap_img {
  width: 15px;
  height: 15px;
}
.hero .buttons_hero .video .icon_video .wrap_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero .buttons_hero .video .text_video {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #FF823B;
  margin-left: 16px;
}

.btn_request {
  margin: 30px 10px;
}

.cls_callBackform {
  text-align: center;
}

.videos_list {
  padding: 0 10px;
}

@media screen and (max-width: 1075px) {
  .hero .img_content .wrap_block {
    display: none;
  }

  .hero .wrap_content {
    width: 90%;
    margin: 360px auto 24px;
    padding-top: 20px;
    border-radius: 20px;
    text-align: center;
    background: #FFFFFF;
    opacity: 0.8;
  }

  .hero .wrap_content h2 {
    font-size: 34px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .hero .wrap_content p {
    margin: 0 auto;
  }

  .hero .wrap_content .buttons_hero {
    margin: 0 auto;
  }

  .hero .wrap_content .wrap_block {
    display: none;
  }

  .hero .note {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .hero {
    background-position: right -140px top;
  }
}