.hamburger {
  display: none;
}

.menu_shadow {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  z-index: 10000;
}

.mobile_menu_block {
  position: fixed;
  top: 0;
  left: -110%;
  height: 100%;
  width: 100%;
  max-width: 400px;
  background-color: #E9FBF9;
  box-shadow: 0 0 5px #000;
  transition: all 0.2s ease;
  z-index: 10001;
}

.open .menu_shadow {
  display: block;
}

.open .mobile_menu_block {
  left: 0;
}

.mobile_menu {
  height: calc(100% - 78px);
  overflow-y: scroll;
}
.mobile_menu li {
  border-bottom: 1px solid #FF7715;
}
.mobile_menu li a {
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #232323;
  width: 100%;
}
.mobile_menu li a:hover {
  background-color: #FF7715;
  color: #fff;
}

.mmb_top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #b5b2d5;
  height: 78px;
}
.mmb_top .mm_logo {
  width: 50px;
  height: 50px;
}
.mmb_top .mm_logo svg {
  width: 100%;
  height: 100%;
}