.portfolio_more {
  padding-top: 165px;
  padding-bottom: 100px;
}
.portfolio_more .wrap {
  margin-top: 20px;
  background-color: #DBFFE9;
  border-radius: 20px;
}
.portfolio_more h2 {
  padding: 40px 10px 0;
  text-align: center;
  color: #FF823B;
}
.portfolio_more p {
  padding: 30px 40px;
}

@media screen and (max-width: 600px) {
  .portfolio_more {
    padding-top: 90px;
    padding-bottom: 60px;
  }

  .portfolio_more h2 {
    font-size: 34px;
  }

  .portfolio_more p {
    padding: 16px 10px;
  }
}