.portfolio {
    padding-top: 165px;
    padding-bottom: 100px;

    .flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .work {
            width: calc(50% - 40px);

            .note {
                margin-left: 24px;
            }

            h2 {
                padding-top: 16px;

                span {
                    color: #FF6107
                }
            }

            .pic {
                padding-top: 130px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .button_portfolio {
                padding: 14px 18px;
                text-decoration: none;
            }
        }

        .cent {
            width: calc(50% - 40px);

            ul {
                padding-top: 208px;
                width: 100%;

                li {
                    display: flex;
                    justify-content: flex-end;
                    padding: 10px;
                    text-align: center;
                    // font-family: 'Roboto', sans-serif;
                    font-weight: bold;
                }
            }

            .counter {
                font-size: 36px;
                color: rgba(18, 79, 72, 0.37);
                text-align: center;
                width: 33.3333%;
            }

            .text {
                font-weight: 500;
                font-size: 18px;
                color: #124F48;
                width: 33.3333%;
            }

            .from {
                font-size: 14px;
                color: #FF823B;
                padding: 0 4px;
                width: 33.3333%;
            }
        }

        .pic {
            padding-top: 34px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .h4_portfolio {
        padding-top: 35px;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
    }

    .p_portfolio {
        padding: 35px 0 40px;
        padding-right: 30px;
        font-weight: normal;
        font-size: 18px;
        line-height: 36px;
        color: #464646;
    }

}



@media screen and (max-width:900px) {
    .portfolio {
        padding-bottom: 60px;
    }

    .portfolio .flex .work {
        width: 100%;
    }

    .portfolio .flex .work h2 {
        text-align: center;
        padding-top: 30px;
    }

    .portfolio .flex .work .pic {
        padding-top: 40px;
    }

    .portfolio .flex .cent {
        width: 100%;
    }

    .portfolio .flex .cent .counter {
        font-size: 24px;
    }

    .portfolio .flex .cent ul {
        padding-top: 50px;
    }

    .portfolio .h4_portfolio {
        padding: 35px 10px 0px 10px;
    }

    .portfolio .p_portfolio {
        padding: 35px 10px 40px 10px;
    }
}