.services {
  padding-top: 165px;
  padding-bottom: 100px;
}
.services .services_top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services .services_top h2 {
  width: 50%;
}
.services .services_top p {
  width: calc(50% - 180px);
  padding-top: 30px;
}
.services .services_main ul {
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services .services_main ul li {
  width: 33.333%;
  padding: 50px 40px;
  transform: scale(1);
  position: relative;
}
.services .services_main ul li:hover {
  background: #FFFFFF;
  box-shadow: 0px 20px 84px rgba(245, 245, 245, 0.8);
  border-radius: 20px;
  transform: scale(1.1);
}
.services .services_main .icon {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}
.services .services_main .icon_1 {
  background: #DBFFE9;
}
.services .services_main .icon_2 {
  background: #FFF7CA;
  box-shadow: 30px 44px 84px rgba(208, 211, 231, 0.31);
  border-radius: 20px;
}
.services .services_main .icon_3 {
  background: #FFE9E0;
  border-radius: 20px;
}
.services .services_main h3 {
  padding: 30px 0 34px 0;
}
.services .services_main p {
  line-height: 36px;
  padding-bottom: 100px;
}
.services .services_main .button_services {
  position: absolute;
  left: 40px;
  bottom: 40px;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .services .services_top h2 {
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  .services .services_top p {
    width: 100%;
    text-align: center;
    line-height: 24px;
    padding-bottom: 20px;
  }

  .services .services_main ul li {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .services .services_main ul li {
    width: 100%;
  }
}